<div class="relative">
  <%= render "shared/header" %>
  <div class='main'>

  <%# //ログインしている場合 %>
  <% if user_signed_in? %>
  <div class='title-contents'>
    <br><h2 class='service-title'>〜Oshi Mitsu〜</h2>
    <p class='service-explanation'>
      <%= current_user.nickname %>さんのページ
    </p>
   
  </div>

  <%# 金額の可視化部分 %>
    <div class='price-contents'>
      <div class='price-all'>
        <h3 class='heading'>全推しに使った金額</h3>
        <p class='details'>
          <br><%= Time.now.month%>月は<span class="weight-text"><%= all_purchase_price_month %>円</span>使っています
          <br>あと<span class="weight-text"><%= all_set_amount - all_purchase_price_month %>円</span>使えます
          <br>累計で使った金額は<span class="weight-text"><%= all_purchase_price %></span>円です
       </p>
      </div>
      <div class='price-all'>
        <h3 class='heading'>ステータス別</h3>
        <p class='details'>
          <br>「購入済み」の合計は<span class="weight-text"><%= all_purchase_price %>円</span>です
          <br>「絶対欲しい」の合計は<span class="weight-text"><%= all_must_price %></span>円です
          <br>「気になる」の合計は<span class="weight-text"><%= all_concern_price %></span>円です
        </p>
      </div>
    </div>
    <%# ジャンル一覧 %>
    <%= render "shared/genre_contents" %>

  <%# //ログインしていない場合aboutページ %>
  <%else%>
    <%= render "shared/about" %> 
  <% end %>

  <%= render "shared/footer" %>
</div>