<%= render "shared/header" %>

<div class='main'>

  <%# 画面上部の「アプリの説明」帯部分 %>
  <div class='title-contents'>
    <br>
    <h2 class='app-t'>＜Title＞</h2>
    <p class='service-explanation'>
    <br>アプリの説明が入ります
    <br>アプリの説明が入ります
    <br>アプリの説明が入ります
    </p>
  </div>
  <%# /画面上部の「アプリの説明」帯部分  %>

  <%# 金額の可視化部分 %>
  <%# ログインしていたらこっち %>
  <% if user_signed_in? %>
    <div class='price-contents'>
      <div class='price-all'>
        <h3 class='t'>全体の金額</h3>
        <p class='all-details'>
       <br><%= Time.now.month%>月は <%= all_purchase_price_month %> 円使っています。
        <br>あと <%= all_set_amount - all_purchase_price_month %> 円使えます！
        <br>累計で使った金額は <%= all_purchase_price %>円 です
       </p>
      </div>
      <div class='price-status'>
        <h3 class='t'>ステータス別の金額</h3>
        <p class='status-details'>
         <br>購入済みアイテムの合計は <%= all_purchase_price %>円 です。
        <br>絶対欲しいアイテムの合計は <%= all_must_price %>円 です。
        <br>気になるアイテムの合計は <%= all_concern_price %>円 です。
        </p>
      </div>
    </div>
  <%# ログインしていなければこっち %>
  <% else %>
  <h1 class="t">※サンプル画面※</h1>
    <div class='price-contents'>
      <div class='price-all'>
        <h3 class='t'>全体の金額</h3>
        <p class='all-details'>
        <br>ここに当月利用した金額が表示されます
        <br>ここに当月利用できる残額が表示されます
        <br>ここに累計で利用した金額が表示されます
        </p>
      </div>
      <div class='price-status'>
        <h3 class='t'>ステータス別の金額</h3>
        <p class='status-details'>
        <br>購入済みアイテムの合計金額が表示されます
        <br>絶対欲しいアイテムの合計金額が表示されます
        <br>気になるアイテムの合計金額が表示されます
       </p>
      </div>
    </div>
  <% end %>
  <%# 金額の可視化部分 %>
      
  <%# //全てのジャンルを展開 %>
  <h2 class='t'>ジャンル一覧</h2>
  <% if user_signed_in? %>
    <%= render "shared/genre_contents" %>
  <%# 全てのジャンルを展開 %>
    
    <%# //ログインしていない場合はこちら %>
  <% else %>
    <div class='genre-contents'>
      <li class='list'>
        <div class='item-img-content'>
          <%= image_tag "haikei.jpeg", class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'><%= "「ジャンル名」のお部屋" %></h3>
          <div class='item-price'>
            <span>月額上限金額</span>
          </div>
        </div>
      </li>
    </div>
  <% end %>
  <%# //ログインしていない場合はこちら %>

<%= render "shared/footer" %>