 <%= render "shared/header" %>
  <%# 金額の可視化部分 %>
  <div class ="page-title">
  <h1><br><%= "#{@genre.theme}のお部屋" %></h1>
   <div class="list">
        <%= link_to '編集', edit_genre_path, class: "item-red-btn" %>
        <%= link_to '削除', genre_path, method: :delete, class:'item-destroy' %>
  </div>
  <br><%= image_tag @genre.image, class: "item-img"  %>
    <div class='price-contents'>
      <div class='price-all'>
        <h3 class='price-title'>全体の金額</h3>
        <p class='all-details'>
        <%=Time.now.month%>月使った金額は<%= purchase_price_month %>円です。
        <br>あと<%= @genre.set_amount - purchase_price_month %>円使えます
        <br>累計で使った金額は<%= purchase_price %>円です！
       </p>
      </div>
      <div class='price-genre'>
        <h3 class='price-title'>カテゴリー別の金額</h3>
        <p class='genre-details'>
        グッズの合計金額は＃＃円です。
        <br>チケットの合計金額は＃＃円です。
        <br>イベントの合計金額は＃＃円です。
       </p>
      </div>
      <div class='price-category'>
        <h3 class='price-title'>ステータス別の金額</h3>
        <p class='category-details'>
        購入済みアイテムの合計金額は＃＃円です。
        <br>絶対欲しいアイテムの合計金額は＃＃円です。
        <br>気になるアイテムの合計金額は＃＃円です。
       </p>
      </div>
   </div>
  <%# 金額の可視化部分 %>

  <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開 %>
<h2 class='title'>アイテム一覧</h2>
<%= link_to 'アイテム追加', new_genre_item_path(@genre.id)%>
    <table class='table-lists'>
      <tr class='item-list'>
      <th><%="カテゴリー名" %></th><th><%="商品名" %></th><th><%="金額" %></th><th><%="個数" %><th><%="合計金額" %></th></th><th><%="発売日" %></th><th><%="購入日" %><th><%="ステータス" %></th><th><%="編集" %></th><th><%="削除" %></th>
      </tr>
<div class='item-contents'>
     <% @items.each do |item| %>
      <tr class='item-list'>
           <td><%= item.category.name %></td>
           <td><%= item.name %></td>
           <td><%= item.price %>円</td>
           <td><%= item.quantity_id %>個</td>
           <td><%= item.sum_of_price%>円</td>
           <td><%= item.release_date %></td>
           <td><%= item.purchase_date %></td>
           <td><%= item.status.name %></td>
           <td><%= link_to '編集', edit_genre_item_path(@genre,item), class: "item-red-btn" %></td>
           <td><%= link_to '削除', genre_item_path(@genre,item), method: :delete, class:'item-destroy' %></td>
     </tr>
  <% end %>
   </table>
  <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開 %>
      
<%= render "shared/footer" %>