 <%= render "shared/header" %>
  <%# 金額の可視化部分 %>
  <div class ="page-title">
  <h1><br><%= "#{@genre.theme}のお部屋" %></h1>
   <div class="list">
        <%= link_to '編集', edit_genre_path, class: "item-red-btn" %>
        <%= link_to '削除', genre_path, method: :delete, class:'item-destroy' %>
  </div>
  <br><%= image_tag @genre.image, class: "item-img"  %>
    <div class='price-contents'>
      <div class='price-all'>
        <h3 class='price-title'>全体の金額</h3>
        <p class='all-details'>
        今月使った金額は＃＃円です。
        <br>累計で＃＃円使っています。
       </p>
      </div>
      <div class='price-genre'>
        <h3 class='price-title'>カテゴリー別の金額</h3>
        <p class='genre-details'>
        今月使った金額は＃＃円です。
        <br>累計で＃＃円使っています。
       </p>
      </div>
      <div class='price-category'>
        <h3 class='price-title'>重要度別の金額</h3>
        <p class='category-details'>
        今月使った金額は＃＃円です。
        <br>累計で＃＃円使っています。
       </p>
      </div>
   </div>
  <%# 金額の可視化部分 %>

  <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開 %>
<h2 class='title'>アイテム一覧</h2>
<%= link_to 'アイテム追加', new_genre_item_path(@genre.id) %>
      <ul class='list'>
      <li><%="カテゴリー名" %><%="商品名" %><%="個数" %><%="金額" %><%="発売日" %><%="購入日" %></li>
      </ul>
<div class='item-contents'>
     <% @items.each do |item| %>
      <ul class='item-list'>
        <li>
          <div class='item-name'>
          <%= item.name %>
          </div>
          <div class ='item-price'>
          <%= item.price %>円
          </div>
        </div>
      </li>
     </ul>
  <% end %>
  <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開 %>
      
<%= render "shared/footer" %>