<div class="relative">
  <%= render "shared/header" %>

  <div class='main'>

  <%# 金額の可視化部分 %>
  <div class ="page-title">
    <h1 class="heading"><br><%= "#{@genre.theme}のお部屋" %></h1>
    <div class="list">
      <%= link_to '編集', edit_genre_path, class: "gnav-link" %>
      <%= link_to '削除', genre_path, method: :delete, class:'gnav-link' ,data: { confirm: '削除しますか？' } %>
      <%= link_to 'Twitter', "https://twitter.com/share?url=#{request.url}&text=#{Time.now.month}月 #{@genre.theme} に貢いだ金額は #{purchase_price_month} 円★/&hashtags=OshiMitsu&hashtags=推し貢", class: 'share_link_twitter', data: { show_count: false }, title: 'Twitter', target: '_blank', id:'share_link_twitter' %>
    </div>
      <br><%= image_tag @genre.image, class: "item-img"  %>
    <div class='price-contents'>
      <div class='price-all'>
        <h3 class='heading'>使った金額</h3>
        <p class='details'>
          <br><%=Time.now.month%>月使った金額は<span class="weight-text"><%= purchase_price_month %>円</span>です
          <br>あと<span class="weight-text"><%= @genre.set_amount - purchase_price_month %>円</span>使えます
          <br>累計で使った金額は<span class="weight-text"><%= purchase_price %>円</span>です
        </p>
      </div>
      <div class='price-all'>
        <h3 class='heading'>ステータス別</h3>
        <p class='details'>
          <br>「購入済み」の合計は<span class="weight-text"><%= purchase_price %>円</span>です
          <br>「絶対欲しい」の合計は<span class="weight-text"><%= must_price %></span>円です
          <br>「気になる」の合計は<span class="weight-text"><%= concern_price %>円</span>です
       </p>
      </div>
    </div>

  <h2 class='heading'>アイテム一覧</h2>
  <div class="add-to" id="input-btn">
    <%= link_to '追加', new_genre_item_path(@genre.id)%>
  </div>

  <%# //アイテムの検索 %>
  <div class="search-form">
    <%= search_form_for @p, url: genre_items_search_path(@genre.id) do |f| %>
      <%= f.label :name_eq, 'カテゴリー：' %>
      <%= f.collection_select :category_id_eq, Category.all ,:id, :name,  include_blank: '指定なし' %>
      <%= f.label :name_eq, 'ステータス：' %>
      <%= f.collection_select :status_id_eq, Status.all ,:id, :name,  include_blank: '指定なし'  %>
      <br class="br-tb"><%= f.label :price, '価格：' %>
      <%= f.search_field :price_gteq %>円〜
      <%= f.search_field :price_lteq %>円
      <%= f.submit '絞り込み', :class=>"add-to", id:"search-btn"%>
    <% end %>
  </div>

  <%# //アイテムのすべてを展開 %>
  <table class='table-lists'>
    <tr class='item-list'>
      <th><%="カテゴリー名" %></th><th><%="商品名" %></th><th><%="金額" %></th><th><%="個数" %><th><%="合計金額" %></th></th><th><%="発売日" %></th><th><%="購入日" %><th><%="ステータス" %></th><th><%="編集" %></th><th><%="削除" %></th>
    </tr>
    <div class='item-contents'>
    <tr class="item-list-sub"><th colspan="10">購入済み</th></tr>
    <% @item1.each do |item| %>
      <tr class='item-list'>
         <td><%= item.category.name %></td>
         <td><%= item.name %></td>
         <td><%= item.price %>円</td>
         <td><%= item.quantity_id %>個</td>
         <td><%= item.sum_of_price%>円</td>
         <td><%= item.release_date %></td>
         <td><%= item.purchase_date %></td>
         <td><%= item.status.name %></td>
         <td><%= link_to link_to image_tag('ed.jpg', class: "ed-del"), edit_genre_item_path(@genre,item), class: "item-red-btn" %></td>
         <td><%= link_to link_to image_tag('del.jpg', class: "ed-del"), genre_item_path(@genre,item), method: :delete, class:'item-destroy',data: { confirm: '削除しますか？' }  %></td>
      </tr>
    <% end %>
  </div>
    <div class='item-contents'>
  <tr class="item-list-sub"><th colspan="10">絶対欲しい</th></tr>
    <% @item2.each do |item| %>
      <tr class='item-list'>
         <td><%= item.category.name %></td>
         <td><%= item.name %></td>
         <td><%= item.price %>円</td>
         <td><%= item.quantity_id %>個</td>
         <td><%= item.sum_of_price%>円</td>
         <td><%= item.release_date %></td>
         <td><%= item.purchase_date %></td>
         <td><%= item.status.name %></td>
         <td><%= link_to image_tag('ed.jpg', class: "ed-del"), edit_genre_item_path(@genre,item), class: "item-red-btn" %></td>
         <td><%= link_to image_tag('del.jpg', class: "ed-del"), genre_item_path(@genre,item), method: :delete, class:'item-destroy',data: { confirm: '削除しますか？' }  %></td>
      </tr>
    <% end %>
  </div>
    <div class='item-contents'>
  <tr class="item-list-sub"><th colspan="10">気になる</th></tr>
    <% @item3.each do |item| %>
      <tr class='item-list'>
         <td><%= item.category.name %></td>
         <td><%= item.name %></td>
         <td><%= item.price %>円</td>
         <td><%= item.quantity_id %>個</td>
         <td><%= item.sum_of_price%>円</td>
         <td><%= item.release_date %></td>
         <td><%= item.purchase_date %></td>
         <td><%= item.status.name %></td>
         <td><%= link_to image_tag('ed.jpg', class: "ed-del"), edit_genre_item_path(@genre,item), class: "item-red-btn" %></td>
         <td><%= link_to image_tag('del.jpg', class: "ed-del"), genre_item_path(@genre,item), method: :delete, class:'item-destroy',data: { confirm: '削除しますか？' }  %></td>
      </tr>
    <% end %>
  </div>
  </table>

  </div>
</div>
<%= render "shared/footer" %>
