<div class="relative">
  <%= render "shared/header" %>
  <div class='main'>

    <div class ="page-title">
      <br><h1 class="genre-title">掲示板ページ</h1>
    </div>

    <%# 各種リンク %>
    <div class="bbs-links">
      <%= form_with url: search_bbss_index_path, local: true, method: :get, class: "search-form" do |f| %>
        <%= f.text_field :keyword, placeholder: "掲示板を検索する", class: "search-input" %>
        <%= f.submit "検索", class: "search-btn" %>
      <% end %>
      <%= link_to "新規作成", new_bbss_path,class:"bbs-link"%>
    </div>
    
     <%# 掲示板一覧 %>
    <div class="bbs-titles">
      <% @bbss.each do |bbs| %>
      <div class="bbs-title">
        <span class="heading"><%= link_to "#{bbs.title}",bbss_path(bbs.id) %></span>
        <%= bbs.user.nickname %>
        <%= l bbs.created_at %>
        <div class="bbs-overview"><%= bbs.overview %></div>
      </div>
    <%end%>
    </div>

  </div>
<%= render "shared/footer" %>
</div>