<div class="relative">
  <%= render "shared/header" %>
  <div class='main'>

    <div class ="page-title">
      <br><h1 class="genre-title"><%="#{@bbs.title}"%></h1>
      <%=link_to 'もどる', bbss_index_path, class: "genre_btn" %>
      <% if current_user.id == @bbs.user.id%>
        <%= link_to '編集', edit_bbss_path, class: "genre_btn" %>
        <%= link_to '削除', bbss_path, method: :delete, class:'genre_btn' ,data: { confirm: '削除しますか？' } %>
      <%end%>
    </div>

    <div class="bbs-title">
        <%= "#{@bbs.user.nickname}さんの投稿" %><%= @bbs.created_at %>
        <div class="bbs-overview"><%= @bbs.overview %></div>
    </div>

    <%# コメント %>
    <div class="bbs-comment">
    <%= form_with model: @bbs, url: "#", local: true do |f| %>
        <%= f.text_area :text, placeholder: "コメントする" %>
        <%= f.submit "送信" %>
    <%end%>
    </div>
    
    <div class="bbs-title">
    コメント一覧
    </div>
    

  </div>
<%= render "shared/footer" %>
</div>