<div class="relative">
  <%= render "shared/header" %>
  <div class='main'>

    <div class ="page-title">
      <br><h1 class="genre-title">掲示板</h1>
    </div>

    <%# 各種リンク %>
    <div class="bbs-links">
      <%= form_with url: search_boards_path, local: true, method: :get, class: "search-form" do |f| %>
        <%= f.text_field :keyword, placeholder: "掲示板を検索する", class: "search-input",size:"30x20" %>
        <%= f.submit "検索", :class=>"add-to" %>
      <% end %>
      <%= link_to "新しい掲示板を作成する",  new_board_path,:class=>"add-to"%>
    </div>
    
     <%# 掲示板一覧 %>
    <div class="bbs-titles">
      <% @boards.each do |boards| %>
      <div class="bbs-title">
        <span class="heading"><%= link_to "#{boards.title}",board_path(boards.id) %></span>
        <div class="board-content"><%= boards.user.nickname %>
        <span class="board-date"><%= l boards.created_at %></span></div>
        <div class="bbs-overview"><%= boards.overview %></div>
      </div>
    <%end%>
    </div>

  </div>
<%= render "shared/footer" %>
</div>