<div class="relative">
  <%= render "shared/header" %>
  <div class='main'>

    <div class ="page-title">
      <br><h1 class="genre-title"><%="#{@board.title}"%></h1>
      <br><%=link_to 'もどる', boards_path, class: "genre_btn" %>
      <% if current_user.id == @board.user.id%>
        <%= link_to '編集',  edit_board_path, class: "genre_btn" %>
        <%= link_to '削除', board_path, method: :delete, class:'genre_btn' ,data: { confirm: '削除しますか？' } %>
      <%end%>
    </div>

    <div class="bbs-titles">  
      <div class="bbs-title">
        <div class="board-content"><%= @board.user.nickname %>
          <span class="board-date"><%= l @board.created_at %></span></div>
        <div class="bbs-overview"><%= @board.overview %></div>
      </div>
    </div>

    <%# コメント %>
    <div class="bbs-comment">
    <%= form_with(model: [@board, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメント入力欄。200文字まで。空欄では投稿できません。" ,:class=>"board-comment" , maxlength:"200"%>
        <%= form.submit "投稿する" ,:class=>"genre_btn"%>
      <% end %>
    </div>
    
    <div class="comment-list">コメント一覧</div>

    <div class="bbs-titles">
      <% @comments.each do |comment| %>
      <div class="bbs-title">
       <div class="board-content"><%= comment.user.nickname %>
        <span class="board-date"><%= l comment.created_at %></span>
        <% if current_user.id == comment.user.id%>
        <%= link_to '削除', comment_path(comment.id), method: :delete, class:'gnav-link' ,data: { confirm: '削除しますか？' } %>
        <%end%></div>
        <div class="bbs-overview"><%= comment.text %></div>
      </div>
      <% end %>
    </div>
    


  </div>
<%= render "shared/footer" %>
</div>