 <%= render "shared/header" %>
<div class="genre-input-contents">
  <div class="genre-input-main">
    <h2 class="genre-input-title">アイテムの情報を入力</h2>
    <%= form_with model: @item, url: genre_items_path, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %> 

    <%# 商品名 %>
    <div class="new-items">
      <div class="weight-bold-text">
        商品名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
    </div>
    <%# /商品名 %>

    <%#アイテム詳細 %>
    <div class="items-detail">
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id  , Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <div class="weight-bold-text">
          ステータス
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:status_id  , Status.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
     <div class="weight-bold-text">
          発売日
        </div>
        <%= f.date_field :release_date %>
        <div class="weight-bold-text">
          購入日
        </div>
        <%= f.date_field :purchase_date %>
        <div class="weight-bold-text">
            <span>価格</span>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）5000" %>
          <span class="price-yen">円</span>
          <div class="weight-bold-text">
            <span>個数</span>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :quantity_id, class:"price-input", id:"item-price", placeholder:"例）5000" %>
          <span class="price-yen">個</span>
     </div>
    </div>
    <%# /アイテム詳細 %>

    <div class="input-btn-contents">
      <%= f.submit "登録する", class:"input-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>

  </div>
  <% end %>
  <%= render "shared/footer" %>
</div>